#dmrshark-live-search {
	text-align: right;
}

#dmrshark-live-search-string {
	height: 15px;
	background-color: #aaa;
	vertical-align: middle;
	font-size: 12px;
}

#dmrshark-live-search-button {
	vertical-align: middle;
}

#dmrshark-live-container {
	margin-top: 20px;
	overflow-x: scroll;
	font-size: 12px;
}

#dmrshark-live-container thead tr, #dmrshark-live-container .jtable-bottom-panel {
	background-color: #393939;
}

#dmrshark-live-container td {
	padding: 0;
}

#dmrshark-live-container .jtable-row-even {
	background-color: #292929;
}

#dmrshark-live-container .jtable-page-info {
	padding-left: 10px;
}

#dmrshark-live-container table { border: none; border-collapse: collapse; }
#dmrshark-live-container table td { border-left: 1px solid #333; }
#dmrshark-live-container table td:first-child { border-left: none; }
